holiday.en-US1.name=New Year's Day
holiday.en-US1.date=20240101
holiday.en-US2.name=Birthday of Martin Luther King, Jr.
holiday.en-US2.date=20240115
holiday.en-US3.name=Washington's Birthday
holiday.en-US3.date=20240219
holiday.en-US4.name=Patriots' Day
holiday.en-US4.date=20240415
holiday.en-US5.name=Patriots' Day
holiday.en-US5.date=20240415
holiday.en-US6.name=Memorial Day
holiday.en-US6.date=20240527
holiday.en-US7.name=Independence Day
holiday.en-US7.date=20240704
holiday.en-US8.name=Labor Day
holiday.en-US8.date=20240902
holiday.en-US9.name=Columbus Day
holiday.en-US9.date=20241014
holiday.en-US10.name=Veterans Day
holiday.en-US10.date=20241111
holiday.en-US11.name=Day after Thanksgiving
holiday.en-US11.date=20241122
holiday.en-US12.name=Thanksgiving Day
holiday.en-US12.date=20241128
holiday.en-US13.name=Christmas Eve
holiday.en-US13.date=20241224
holiday.en-US14.name=Christmas Day
holiday.en-US14.date=20241225
