holiday.cs-CZ1.name=Den obnovy samostatného českého státu
holiday.cs-CZ1.date=20240101
holiday.cs-CZ2.name=Nový rok
holiday.cs-CZ2.date=20240101
holiday.cs-CZ3.name=Velký pátek
holiday.cs-CZ3.date=20240329
holiday.cs-CZ4.name=Velikonoční pondělí
holiday.cs-CZ4.date=20240401
holiday.cs-CZ5.name=Svátek práce
holiday.cs-CZ5.date=20240501
holiday.cs-CZ6.name=Den vítězství
holiday.cs-CZ6.date=20240508
holiday.cs-CZ7.name=Den slovanských věrozvěstů Cyrila a Metoděje
holiday.cs-CZ7.date=20240705
holiday.cs-CZ8.name=Den upálení mistra Jana Husa
holiday.cs-CZ8.date=20240706
holiday.cs-CZ9.name=Den české státnosti
holiday.cs-CZ9.date=20240928
holiday.cs-CZ10.name=Den vzniku samostatného československého státu
holiday.cs-CZ10.date=20241028
holiday.cs-CZ11.name=Den boje za svobodu a demokracii a Mezinárodní den studentstva
holiday.cs-CZ11.date=20241117
holiday.cs-CZ12.name=Štědrý den
holiday.cs-CZ12.date=20241224
holiday.cs-CZ13.name=1. svátek vánoční
holiday.cs-CZ13.date=20241225
holiday.cs-CZ14.name=2. svátek vánoční
holiday.cs-CZ14.date=20241226
